 @charset"UTF-8";
//colors
$co1:#5ccdbb;
$co2:#8896ff;
$co3:#b7c0c0;
//fonts
 $tipografia1:'Bai Jamjuree', sans-serif;
 $anchotipografia:600;  

     
 
 
 



 //fuentes
 @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap'); //font-family: 'Bai Jamjuree', sans-serif;
 @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap'); // font-family: 'Bai Jamjuree', sans-serif;