@import "_h-variables.scss";

.header {
    grid-column: 1/11;
    grid-row: 1/2;
     .fondo-pc{
        position: absolute;
        width: 100%;
     }
     .div1{
        display: flex;
        margin-top: 17vh;
        flex-direction: column;
        align-items: center;
     }
     .divboton{
        display: flex;
        justify-content: center;
     }
     
     

   
}