@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap");
body {
  display: grid;
  grid-template-rows: 20% 80% 10%;
  grid-template-columns: repeat(10, 10%);
  margin: 0;
}
body h1, body h2, body h3 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  margin: 1em;
}
body h1 {
  font-size: 3em;
}
body h2 {
  font-size: 2em;
}
body p, body a {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  width: 24vw;
  color: #b7c0c0;
}
body .art1 {
  display: flex;
}

.header {
  grid-column: 1/11;
  grid-row: 1/2;
}
.header .fondo-pc {
  position: absolute;
  width: 100%;
}
.header .div1 {
  display: flex;
  margin-top: 17vh;
  flex-direction: column;
  align-items: center;
}
.header .divboton {
  display: flex;
  justify-content: center;
}
.header .boton1 {
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
  background-color: #5ccdbb;
  height: 4em;
  border-radius: 2em;
  border-color: #5ccdbb;
  width: 12em;
  box-shadow: 0px 1px 0px #a5a3a3;
  margin: 1em;
}
.header .boton2 {
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
  background-color: #8896ff;
  height: 4em;
  border-radius: 2em;
  border-color: #8896ff;
  width: 12em;
  box-shadow: 0px 1px 0px #a5a3a3;
  margin: 1em;
}
.header button:hover {
  background: #c9dfdb;
}

.main {
  grid-column: 1/11;
  grid-row: 2/3;
}
.main .art1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main-inf {
  display: flex;
}
.main .monitor {
  margin-left: -25vw;
  margin-right: 8vw;
}
.main .img-pc {
  width: 124%;
}
.main .section-m {
  padding: 10vw;
  margin-right: -20vw;
}
.main .divsh3p {
  width: 20vw;
}
.main .art2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.main .logos {
  display: flex;
  justify-content: space-around;
}
.main .botonesf {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .bfinal {
  display: flex;
  justify-content: center;
}
.main .boton1 {
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
  background-color: #5ccdbb;
  height: 4em;
  border-radius: 2em;
  border-color: #5ccdbb;
  width: 12em;
  box-shadow: 0px 1px 0px #a5a3a3;
  margin: 1em;
}
.main .boton2 {
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
  background-color: #8896ff;
  height: 4em;
  border-radius: 2em;
  border-color: #8896ff;
  width: 12em;
  box-shadow: 0px 1px 0px #a5a3a3;
  margin: 1em;
}
.main button:hover {
  background: #c9dfdb;
}

.footer {
  grid-column: 1/11;
  grid-row: 3/4;
}
.footer .artfooter {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
